/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                      PRUEBAS
••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 


.budget-summary{
    /*Compuesto por título, imagen y período*/
    position: relative;
    padding: 0px;
    margin: 0px 2%;
    width: 25%;
    /*height: 400px;*/
    background-color: #DCF2F6;
    overflow: hidden;
    border: 1px solid #333;
}
.budget-summary:hover .statistics{
    right: 0;
}

.budget-summary .title
{
    margin: 0;
    position: relative;
    top:0;
    left:0;
    height: 22px;
    font-size: 1.05em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 5px 7px 44px;
    background-image: url(../../images/forms/budget.png); 
    background-repeat: no-repeat;
    background-color: #F0F9FB;
    color: #1A1A1A;
    /*border: 1px solid #333;*/
    border-top: 5px solid #333;
    border-bottom: 1px solid #333;
    overflow-y: auto;
    overflow-x: hidden;
}

.budget-summary .image
{
    position: relative;
    height: 316px;
    text-align: center;
    overflow: hidden;
}
.budget-summary .image > img
{
    min-height: 100%;
}

.budget-summary .period
{
    position: relative;
    bottom: 0;
    height: 22px;

    font-size: 0.9em; /*Comprobado*/
    font-stretch: condensed; /*Comprobado*/
    font-weight: bolder; /*Comprobado*/
    padding: 9px 5px 5px 44px; /*Comprobado*/
    background-image: url(../../images/forms/date.png); 
    background-repeat: no-repeat;
    background-color: #F0F9FB;
    color: #1A1A1A;
    /*border: 1px solid #333;*/
    border-bottom: 5px solid #333;
    border-top: 1px solid #333;
    overflow: auto;

}

.budget-summary .statistics{
    /*Posición*/
    position: absolute;
    /*    padding: 10px 5%;*/
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    z-index: 2;
    /*Color*/
    color: #000;
    background-color: #F0F9FB;
    /*Opacidad*/
    opacity:0.85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);


    text-align: left;

    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

}
.budget-summary .statistics .description
{
    width: 65%;
    margin: 30px auto 15px auto;
    border-bottom: 1px dotted #333333;
    border-top: 1px dotted #333333;

    font-size: 0.96em;
    font-style: italic;
    line-height: 1.6em;
    font-weight: 200;
    text-align: center;

    /*outline: 1.5px dotted #5E5E5E;*/
    /*outline-offset: 1px;*/
    /*background-color: #7FD5FB;*/
    /*padding: 4px;*/

} /*/Description*/

.budget-summary .statistics .chart
{
    position: relative;
    width: 30%;
    margin: 0 5%;
    text-align: center;
    display: inline-block;
}

.budget-summary .statistics .chart {
}
.budget-summary .statistics .chart li {
    color: #fff;
    width:35%; 
    height:100px; /*set a bar width and a full height*/
    float:left; /*to have bars "left-aligned"*/
    position:relative; /*needed for the actual bar fill element*/
    margin:5%;
}
.budget-summary .statistics .chart li+li {
    margin-left:0; /*avoid margin double-up between bars as they don't collapse*/
}
.budget-summary .statistics .chart span {
    position:absolute;
    right:0;
    bottom:0;
    left:0; 
    /*"bottom-align" the bars, widths will be set inline*/
}




/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                      GLOBAL                        
••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 

/*Reset*/
* 
{
    padding: 0%;
    margin: 0%;
    border: 0;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;   
    transition: all .3s ease-in-out;
}


.fade-in
{
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}   

.delay
{
    animation-delay: 2s;
}

@keyframes fadein {
    from {opacity:0;} to {opacity:1;}
}
@-moz-keyframes fadein {  Firefox 
    from {opacity:0;} to {opacity:1;}
}
@-webkit-keyframes fadein {  Safari and Chrome 
    from {opacity:0;} to {opacity:1;}
}
@-o-keyframes fadein {  Opera 
    from {opacity:0;} to {opacity: 1;}
}


ul
{
    /*Necesario para los gráficos*/ 
    list-style: none;
    list-style-type: none;
}



/*Displays*/
.display-inline-block {display:inline-block;}
.display-inline {display:inline;}
.display-block {display: block;}
.display-none {display: none;}

/*Visibilities*/
.visibility-hidden 
{
    visibility: hidden;
    -visibility: visible;
}
.visibility-visible 
{
    visibility: visible;
    -visibility: visible;
}

/*Overflows*/
.overflow-auto {overflow: auto;}
.overflow-hidden {overflow: hidden;}
.overflow-no-content {overflow: no-content;}
.overflow-no-display {overflow: no-display;}
.overflow-scroll {overflow: scroll;}
.overflow-visible {overflow: visible;}


/*Alignments*/
.align-horizontal-center {text-align: center;}
.align-horizontal-left {text-align: left;}
.align-horizontal-right {text-align: right;}
.align-vertical-middle {vertical-align: middle;}
.align-vertical-baseline {vertical-align: baseline;}
.align-vertical-super {vertical-align: super;}
.align-vertical-text-top {vertical-align: text-top;}
.align-vertical-text-bottom {vertical-align: text-bottom;}

/*Positions*/
.position-static {position: static;}
.position-fixed {position: fixed;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-float-left {float: left;}
.position-float-none {float: none;}
.position-float-right {float: right;}
.position-float-clear-both {clear: both;}
.position-float-clear-none {clear: none;}
.position-float-clear-right {clear: right;}
.position-float-clear-left {clear: left;}

/*Special features*/
.fixed-bar {
    position: fixed;
    z-index: 100;
}

/*Opacities*/
.opacity-no-opacity {opacity:  1; filter: alpha(opacity = 100);}
.opacity-10-percent {opacity: .1; filter: alpha(opacity = 10);}
.opacity-20-percent {opacity: .2; filter: alpha(opacity = 20);}
.opacity-30-percent {opacity: .3; filter: alpha(opacity = 30);}
.opacity-40-percent {opacity: .4; filter: alpha(opacity = 40);}
.opacity-50-percent {opacity: .5; filter: alpha(opacity = 50);}
.opacity-60-percent {opacity: .6; filter: alpha(opacity = 60);}
.opacity-65-percent {opacity: .65; filter: alpha(opacity = 65);}
.opacity-70-percent {opacity: .7; filter: alpha(opacity = 70);}
.opacity-75-percent {opacity: .75; filter: alpha(opacity = 75);}
.opacity-80-percent {opacity: .8; filter: alpha(opacity = 80);}
.opacity-85-percent {opacity: .85; filter: alpha(opacity = 85);}
.opacity-90-percent {opacity: .9; filter: alpha(opacity = 90);}
.opacity-95-percent {opacity: .95; filter: alpha(opacity = 95);}
.opacity-on-hover-no-opacity:hover {opacity: 1; filter: alpha(opacity = 100);}

/*Border radius*/
.border-radius-0 {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.border-radius-1px {-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}
.border-radius-2px {-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.border-radius-3px {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.border-radius-4px {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.border-radius-5px {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.border-radius-6px {-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.border-radius-7px {-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
.border-radius-8px {-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.border-radius-9px {-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;}
.border-radius-10px {-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.border-radius-11px {-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;}
.border-radius-12px {-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;}
.border-radius-13px {-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;}
.border-radius-14px {-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.border-radius-15px {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.border-radius-16px {-webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;}
.border-radius-17px {-webkit-border-radius: 17px;-moz-border-radius: 17px;border-radius: 17px;}
.border-radius-18px {-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.border-radius-19px {-webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px;}
.border-radius-20px {-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.border-radius-21px {-webkit-border-radius: 21px;-moz-border-radius: 21px;border-radius: 21px;}
.border-radius-22px {-webkit-border-radius: 22px;-moz-border-radius: 22px;border-radius: 22px;}
.border-radius-23px {-webkit-border-radius: 23px;-moz-border-radius: 23px;border-radius: 23px;}
.border-radius-24px {-webkit-border-radius: 24px;-moz-border-radius: 24px;border-radius: 24px;}
.border-radius-25px {-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;}

/*Border width*/
.border-width-5px {border-width: 5px;}
.border-width-4px {border-width: 4px;}
.border-width-3px {border-width: 3px;}
.border-width-2px {border-width: 2px;}
.border-width-1px {border-width: 1px;}

/*Border style*/
.border-style-dashed {border-style: dashed;}
.border-style-dotted {border-style: dotted;}
.border-style-solid {border-style: solid;}


/*Separation lines*/
.separation-transparent-10px
{
    background-color: transparent;
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px solid transparent; 
    padding-top: 5px;
    padding-bottom: 5px;
}
.separation-transparent-20px
{
    background-color: transparent;
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px solid transparent; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.separation-transparent-30px
{
    background-color: transparent;
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px solid transparent; 
    padding-top: 15px;
    padding-bottom: 15px;
}
.separation-line-1px-white
{
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px #fff solid; 
}

.separation-line-1px-blue 
{
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px #1c94c4 solid; 
}
.separation-line-2px-blue 
{
    border-bottom: 2px #1c94c4 solid;
    position: relative;
    width: 80%;
    left: 10%;
}
.separation-line-1px-dark-gray 
{
    border-bottom: 1px #333333 solid;
    position: relative;
    width: 80%;
    left: 10%;
}
.separation-line-2px-dark-gray 
{
    border-bottom: 2px #333333 solid;
    position: relative;
    width: 80%;
    left: 10%;
}
.separation-line-6px-dark-gray 
{
    border-bottom: 6px #333333 solid;
    position: relative;
    width: 80%;
    left: 10%;
}

/*Margins*/
.margin-top-15px {margin-top: 15px;}
.margin-top-20px {margin-top: 20px;}
.margin-top-25px {margin-top: 25px;}

.margin-bottom-15px {margin-bottom: 15px;}
.margin-bottom-20px {margin-bottom: 20px;}
.margin-bottom-25px {margin-bottom: 25px;}

.margin-right-10px {margin-right: 10px;}
.margin-right-auto {margin-right: auto;}

.margin-left-5-percent {margin-left: 5%;}
.margin-left-10-percent {margin-left: 10%;}
.margin-left-15-percent {margin-left: 15%;}
.margin-left-20-percent {margin-left: 20%;}
.margin-left-25-percent {margin-left: 25%;}
.margin-right-5-percent {margin-right: 5%;}
.margin-right-10-percent {margin-right: 10%;}

.margin-left-10px {margin-left: 10px;}
.margin-left-20px {margin-left: 20px;}
.margin-left-30px {margin-left: 30px;}
.margin-left-40px {margin-left: 40px;}
.margin-left-50px {margin-left: 50px;}
.margin-left-auto {margin-left: auto;}

.margin-0 {margin: 0;}
.margin-10-percent {margin: 10%;}
.margin-auto {margin: auto;}
.margin-left-right-auto {
    margin-right: auto; 
    margin-left: auto; 
}
/*Padding*/
.padding-top-bottom-1-percent {padding-top: 10px; padding-bottom: 1%;}
.padding-top-bottom-10px {padding-top: 10px; padding-bottom: 10px;}
.padding-left-right-1-percent {padding-left: 1%; padding-right: 1%;}
.padding-left-right-10px {padding-left: 10px; padding-right: 10px;}
.padding-left-right-15px {padding-left: 15px; padding-right: 15px;}
.padding-left-right-20px {padding-left: 20px; padding-right: 20px;}
.padding-5-percent {padding: 5%;}
.padding-5px {padding: 5px;}
.padding-10px {padding: 10px;}
.padding-20px {padding: 20px;}
.padding-0 {padding: 0;}

/*Width*/
.width-5-percent {width: 5%;}
.width-10-percent {width: 10%;}
.width-12-percent {width: 12%;}
.width-15-percent {width: 15%;}
.width-20-percent {width: 20%;}
.width-25-percent {width: 25%;}
.width-30-percent {width: 30%;}
.width-40-percent {width: 40%;}
.width-50-percent {width: 50%;}
.width-60-percent {width: 65%;}
.width-65-percent {width: 60%;}
.width-70-percent {width: 70%;}
.width-75-percent {width: 75%;}
.width-80-percent {width: 80%;}
.width-85-percent {width: 85%;}
.width-90-percent {width: 90%;}
.width-95-percent {width: 95%;}
.width-100-percent {width: 100%;}


/*Maximum width*/
.width-max-100-percent 
{
    max-width: 100%;
    width: expression(document.body.clientWidth > 101%? "100%": "auto"); /*IE*/
}
.width-max-90-percent 
{
    max-width: 90%;
    width: expression(document.body.clientWidth > 91%? "90%": "auto");  /*IE*/
}
.width-max-80-percent 
{
    max-width: 80%;
    width: expression(document.body.clientWidth > 81%? "80%": "auto"); /*IE*/
}

.width-max-70-percent 
{
    max-width: 70%;
    width: expression(document.body.clientWidth > 71%? "70%": "auto"); /*IE*/
}
.width-max-60-percent 
{
    max-width: 60%;
    width: expression(document.body.clientWidth > 61%? "60%": "auto"); /*IE*/
}
.width-max-50-percent 
{
    max-width: 50%;
    width: expression(document.body.clientWidth > 51%? "50%": "auto"); /*IE*/
}
.width-max-40-percent 
{
    max-width: 40%;
    width: expression(document.body.clientWidth > 41%? "40%": "auto"); /*IE*/
}

/*Maximum height*/
.height-max-10-percent 
{
    max-width: 10%;
    width: expression(document.body.clientHeight > 11%? "10%": "auto"); /*IE*/
}
.height-max-20-percent 
{
    max-width: 20%;
    width: expression(document.body.clientHeight > 21%? "20%": "auto"); /*IE*/
}
.height-max-30-percent 
{
    max-width: 30%;
    width: expression(document.body.clientHeight > 31%? "30%": "auto"); /*IE*/
}
.height-max-40-percent 
{
    max-width: 40%;
    width: expression(document.body.clientHeight > 41%? "40%": "auto"); /*IE*/
}
.height-max-50-percent 
{
    max-width: 50%;
    width: expression(document.body.clientHeight > 51%? "50%": "auto"); /*IE*/
}
.height-max-60-percent 
{
    max-width: 60%;
    width: expression(document.body.clientHeight > 61%? "60%": "auto"); /*IE*/
}
.height-max-70-percent 
{
    max-width: 70%;
    width: expression(document.body.clientHeight > 71%? "70%": "auto"); /*IE*/
}
.height-max-80-percent 
{
    max-width: 80%;
    width: expression(document.body.clientHeight > 81%? "80%": "auto"); /*IE*/
}
.height-max-90-percent 
{
    max-width: 90%;
    width: expression(document.body.clientHeight > 91%? "90%": "auto"); /*IE*/
}
.height-max-100-percent 
{
    max-width: 100%;
    width: expression(document.body.clientHeight > 101%? "100%": "auto"); /*IE*/
}



.height-10-percent {height: 10%;}
.height-20-percent {height: 20%;}
.height-30-percent {height: 30%;}
.height-40-percent {height: 40%;}
.height-50-percent {height: 50%;}
.height-60-percent {height: 65%;}
.height-65-percent {height: 60%;}
.height-70-percent {height: 70%;}
.height-80-percent {height: 80%;}
.height-90-percent {height: 90%;}
.height-100-percent {height: 100%;}



.transition-delay-5s
{
    -webkit-transition-delay: 5s; 
    -moz-transition-delay: 5s; 
    -ms-transition-delay: 5s; 
    -o-transition-delay: 5s; 
    transition-delay: 5s; 
}
.transition-delay-4s
{
    -webkit-transition-delay: 4s; 
    -moz-transition-delay: 4s; 
    -ms-transition-delay: 4s; 
    -o-transition-delay: 4s; 
    transition-delay: 4s; 
}
.transition-delay-3s
{
    -webkit-transition-delay: 3s; 
    -moz-transition-delay: 3s; 
    -ms-transition-delay: 3s; 
    -o-transition-delay: 35s; 
    transition-delay: 3s; 
}




.transition-5s
{
    -webkit-transition: .5s all;   
    -moz-transition: .5s all;   
    -ms-transition: .5s all;   
    -o-transition: .5s all;   
    transition: .5s all;   
}
.transition-4s
{
    -webkit-transition: .4s all;   
    -moz-transition: .4s all;   
    -ms-transition: .4s all;   
    -o-transition: .4s all;   
    transition: .4s all;   
}
.transition-3s
{
    -webkit-transition: .3s all;   
    -moz-transition: .3s all;   
    -ms-transition: .3s all;   
    -o-transition: .3s all;   
    transition: .3s all;   
}
.transition-2s
{
    -webkit-transition: .2s all;   
    -moz-transition: .2s all;   
    -ms-transition: .2s all;   
    -o-transition: .2s all;   
    transition: .2s all;   
}
.transition-1s
{
    -webkit-transition: .1s all;   
    -moz-transition: .1s all;   
    -ms-transition: .1s all;   
    -o-transition: .1s all;   
    transition: .1s all;   
}