/*                      GLOBAL                        */
/*••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 

/*Reset*/
* {
    padding: 0%;
    margin: 0%;
    border: 0;
    text-decoration: none;
}
body {
    clear: both;
}

.break-word {word-wrap: break-word;}

/*Display*/
.display-inline-block {display:inline-block;}
.display-inline {display:inline;}
.display-block {display: block;}
.display-none {display: none;}

/*Visibility*/
.visibility-hidden {
    visibility: hidden;
    -visibility: visible;
}
.visibility-visible {
    visibility: visible;
    -visibility: visible;
}

/*Overflow*/
.overflow-auto {overflow: auto;}
.overflow-hidden {overflow: hidden;}
.overflow-no-content {overflow: no-content;}
.overflow-no-display {overflow: no-display;}
.overflow-scroll {overflow: scroll;}
.overflow-visible {overflow: visible;}


/*Align*/
.align-horizontal-center {text-align: center;}
.align-horizontal-left {text-align: left;}
.align-horizontal-right {text-align: right;}
.align-vertical-middle {vertical-align: middle;}
.align-vertical-baseline {vertical-align: baseline;}
.align-vertical-super {vertical-align: super;}
.align-vertical-text-top {vertical-align: text-top;}
.align-vertical-text-bottom {vertical-align: text-bottom;}

/*Position*/
.position-static {position: static;}
.position-fixed {position: fixed;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-float-left {float: left;}
.position-float-none {float: none;}
.position-float-right {float: right;}
.position-float-clear-both {clear: both;}
.position-float-clear-none {clear: none;}
.position-float-clear-right {clear: right;}
.position-float-clear-left {clear: left;}

/*Special features*/
.fixed-bar {
    position: fixed;
    z-index: 100;
}

/*Opacity*/
.opacity-no-opacity {opacity:  1; filter: alpha(opacity = 100);}
.opacity-10-percent {opacity: .1; filter: alpha(opacity = 10);}
.opacity-20-percent {opacity: .2; filter: alpha(opacity = 20);}
.opacity-30-percent {opacity: .3; filter: alpha(opacity = 30);}
.opacity-40-percent {opacity: .4; filter: alpha(opacity = 40);}
.opacity-50-percent {opacity: .5; filter: alpha(opacity = 50);}
.opacity-60-percent {opacity: .6; filter: alpha(opacity = 60);}
.opacity-65-percent {opacity: .65; filter: alpha(opacity = 65);}
.opacity-70-percent {opacity: .7; filter: alpha(opacity = 70);}
.opacity-75-percent {opacity: .75; filter: alpha(opacity = 75);}
.opacity-80-percent {opacity: .8; filter: alpha(opacity = 80);}
.opacity-85-percent {opacity: .85; filter: alpha(opacity = 85);}
.opacity-90-percent {opacity: .9; filter: alpha(opacity = 90);}
.opacity-95-percent {opacity: .95; filter: alpha(opacity = 95);}
.opacity-on-hover-no-opacity:hover {opacity: 1; filter: alpha(opacity = 100);}


/*Border radius*/

.border-radius-0 {-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.border-radius-1px {-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}
.border-radius-2px {-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.border-radius-3px {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.border-radius-4px {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.border-radius-5px {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.border-radius-6px {-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.border-radius-7px {-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
.border-radius-8px {-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.border-radius-9px {-webkit-border-radius: 9px;-moz-border-radius: 9px;border-radius: 9px;}
.border-radius-10px {-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.border-radius-11px {-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;}
.border-radius-12px {-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;}
.border-radius-13px {-webkit-border-radius: 13px;-moz-border-radius: 13px;border-radius: 13px;}
.border-radius-14px {-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.border-radius-15px {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.border-radius-16px {-webkit-border-radius: 16px;-moz-border-radius: 16px;border-radius: 16px;}
.border-radius-17px {-webkit-border-radius: 17px;-moz-border-radius: 17px;border-radius: 17px;}
.border-radius-18px {-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;}
.border-radius-19px {-webkit-border-radius: 19px;-moz-border-radius: 19px;border-radius: 19px;}
.border-radius-20px {-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.border-radius-21px {-webkit-border-radius: 21px;-moz-border-radius: 21px;border-radius: 21px;}
.border-radius-22px {-webkit-border-radius: 22px;-moz-border-radius: 22px;border-radius: 22px;}
.border-radius-23px {-webkit-border-radius: 23px;-moz-border-radius: 23px;border-radius: 23px;}
.border-radius-24px {-webkit-border-radius: 24px;-moz-border-radius: 24px;border-radius: 24px;}
.border-radius-25px {-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;}

/*Border width*/
.border-width-5px {border-width: 5px;}
.border-width-4px {border-width: 4px;}
.border-width-3px {border-width: 3px;}
.border-width-2px {border-width: 2px;}
.border-width-1px {border-width: 1px;}

/*Border style*/
.border-style-dashed {border-style: dashed;}
.border-style-dotted {border-style: dotted;}
.border-style-solid {border-style: solid;}



.separation-line-1px-blue 
{
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px #1c94c4 solid; 
}
.separation-line-2px-blue 
{
    border-bottom: 2px #1c94c4 solid;
    position: relative;
    width: 80%;
    left: 10%;
}
.separation-line-1px-dark-grey 
{
    border-bottom: 1px #333333 solid;
    position: relative;
    width: 80%;
    left: 10%;
}
..separation-line-2px-dark-grey 
{
    border-bottom: 2px #333333 solid;
    position: relative;
    width: 80%;
    left: 10%;
}

.margin-top-15px {margin-top: 15px;}
.margin-top-20px {margin-top: 20px;}
.margin-top-25px {margin-top: 25px;}

.margin-bottom-15px {margin-bottom: 15px;}
.margin-bottom-20px {margin-bottom: 20px;}
.margin-bottom-25px {margin-bottom: 25px;}

.margin-right-10px {margin-right: 10px;}
.margin-right-auto {margin-right: auto;}

.margin-left-5-percent {margin-left: 5%;}
.margin-left-10-percent {margin-left: 10%;}
.margin-left-15-percent {margin-left: 15%;}
.margin-left-20-percent {margin-left: 20%;}
.margin-left-25-percent {margin-left: 25%;}
.margin-right-5-percent {margin-right: 5%;}
.margin-right-10-percent {margin-right: 10%;}

.margin-left-10px {margin-left: 10px;}
.margin-left-20px {margin-left: 20px;}
.margin-left-30px {margin-left: 30px;}
.margin-left-40px {margin-left: 40px;}
.margin-left-50px {margin-left: 50px;}
.margin-left-auto {margin-left: auto;}

.margin-10-percent {margin: 10%;}
.margin-auto {margin: auto;}
.margin-left-right-auto {
    margin-right: auto; 
    margin-left: auto; 
}

.padding-left-right-10px {padding-left: 10px; padding-right: 10px;}
.padding-left-right-15px {padding-left: 15px; padding-right: 15px;}
.padding-left-right-20px {padding-left: 20px; padding-right: 20px;}
.padding-20px {padding: 20px;}
.padding-0 {padding: 0;}

.width-10-percent {width: 10%;}
.width-15-percent {width: 15%;}
.width-20-percent {width: 20%;}
.width-25-percent {width: 25%;}
.width-30-percent {width: 30%;}
.width-40-percent {width: 40%;}
.width-50-percent {width: 50%;}
.width-60-percent {width: 65%;}
.width-65-percent {width: 60%;}
.width-70-percent {width: 70%;}
.width-75-percent {width: 75%;}
.width-80-percent {width: 80%;}
.width-85-percent {width: 85%;}
.width-90-percent {width: 90%;}
.width-95-percent {width: 95%;}
.width-100-percent {width: 100%;}

.height-10-percent {height: 10%;}
.height-20-percent {height: 20%;}
.height-30-percent {height: 30%;}
.height-40-percent {height: 40%;}
.height-50-percent {height: 50%;}
.height-60-percent {height: 65%;}
.height-65-percent {height: 60%;}
.height-70-percent {height: 70%;}
.height-80-percent {height: 80%;}
.height-90-percent {height: 90%;}
.height-100-percent {height: 100%;}
