#mail.form-box 
{
    display: block !important;
    /*width: 800px;*/
    text-align: center;
}

#register.form-box 
{
    display: block !important;
    width: 500px;
    text-align: center;
}
#register #info
{
    border: 1px dashed #0998BF !important;
}

.form-box 
{
    font-size: 110%;
    margin: auto; /* centrarlo */
    text-align: center;


    background: rgb(224,239,249); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZWZmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmY2ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(224,239,249,1) 0%, rgba(242,246,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,239,249,1)), color-stop(100%,rgba(242,246,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(242,246,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(242,246,248,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(242,246,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,239,249,1) 0%,rgba(242,246,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-8 */

    /*border: 5px #0E667E solid;*/
    -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;


    -moz-box-shadow: inset -2px -2px 25px -2px #DFF3F7;
    -webkit-box-shadow: inset -2px -2px 25px -2px #DFF3F7;
    box-shadow: inset -2px -2px 25px -2px #DFF3F7;
}

.form-box h6 {
    font-size: 6px;
    color: transparent;
}
.input-text 
{
    font-size: 1.05em;
    padding: 7px 5px 7px 44px;
    /*line-height: 1em !important;*/
    margin: 5px 0;

    font-family: ubuntu, helvetica, sans serif; 
    border: 1px solid #333;
    background-color: #F0F9FB;

    color: #1A1A1A;
    width: 250px;
    height: 22px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.input-text:focus, .input-text:hover:focus
{
    background-color: #FFF;
    border: 1px solid #1A1A1A;
    outline: 2.5px solid #333333;
    -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 15px rgba(50, 50, 50, 0.75);
}

.input-text:hover 
{
    border: 1px solid #878585;
}

#input-email.input-text 
{
    background-image: url(../../images/forms/mail.png); 
    background-repeat: no-repeat;
}
.input-password.input-text 
{
    background-image: url(../../images/forms/password.png); 
    background-repeat: no-repeat;
}
#input-budget.input-text 
{
    background-image: url(../../images/forms/budget.png); 
    background-repeat: no-repeat;
}

#input-date.input-text 
{
    background-image: url(../../images/forms/budget.png); 
    background-repeat: no-repeat;
}

#input-name.input-text 
{
    background-image: url(../../images/forms/user.png); 
    background-repeat: no-repeat;
}

.input-date.input-text 
{
    background-image: url(../../images/forms/date.png); 
    background-repeat: no-repeat;
}

.input-date.input-text 
{
    background-image: url(../../images/forms/date.png); 
    background-repeat: no-repeat;
}

.input-budget.input-text 
{
    background-image: url(../../images/forms/budget.png); 
    background-repeat: no-repeat;
}

/*
- input personales con nuestros colores de bordes, color, tamaño de letra....

clase para error: input-error
un cuadro con un mensaje de exito:
- se ha editado su perfil
- se ha modificado su contraseña
algo asi
y unos con error o alertas
Andres:  nop yo quiero un simple div 
q al llamarlo ya el color de la letra y el color 
sea de exito o de error o de alerta*/

.input-error 
{
    background-color: #BA1818;
    border-color: #800100;
    font-family: ubuntu, helvetica, sans serif; 
}
