.public #info-boxes-container
{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.public .info-box
{
    display: inline-block;
    width: 23%;
    min-width: 250px;
    max-width: 500px;

    padding: 3px;
    margin: 15px;
    text-align: center;
    border: solid #fff 1px;
    background-color: #fff;
    vertical-align: top;
}
.public .info-box img
{
    width: 100%;
    border: solid 1px #1a1a1a;
}
.public .info-box p
{
    color: #3d3d3d !important;
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 5px;
    padding: 0;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                      GLOBAL                        
•••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 

#wrapper
{
    position: relative; 

}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 
/*                      PUBLIC                        */
/*••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 

body.public
{
    clear: both;
    background-color: #0998BF;
    background: #1a1a1a url("../../images/bg/bg-image-1-big.jpg") no-repeat fixed;
    /*background: #9DDDF6 url("../../images/bg/bg13.png") repeat;*/
    background-position: center center;
    background-size: cover;
    min-height:100%;
    min-width: 100%;
}

.public #login-container
{ 
    /*position: relative;*/
    bottom: 0;
    margin: 0 auto;
    width: 55%;
    min-width: 440px;
    _width: 45%;
    -ms-width: 45%;
    max-width: 1000px;

    height: 100%;
    border: solid 1px transparent;
    text-align: center;

    background-color: #3d3d3d;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}
.public #login-container #logo
{
    position: relative;
    margin: 50px auto 30px auto;

    width: 67%;
    min-width: 400px;
}
.public #login-container .login-button
{
    display: block;
    width: 45%;
    min-width: 220px;
    max-width: 320px;
    margin: 10px auto;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;   
}

.public #login-container .login-button img
{
    width: 100%;
}

.public #login-container .login-button:hover,
.public #login-container .login-button:focus,
.public #login-container .login-button:active
{
    width: 50%;
    min-width: 250px;
    max-width: 350px;
    border: 0;
    outline: 0;
}
.public #loginForm.response
{
    text-align: center;
    color: #D95252;
    font-weight: bold;
}
.public #login-container-promo-text
{
    /*margin: 10*/
    position: relative;
    width: 50%;
    bottom: 3%;
    padding: 0 20%;
    font-size: 1.6em;
    line-height: 1.2em;
    text-shadow: 4px 4px 10px rgba(0, 2, 0, 1);
}
.public #browsers
{
    border: 1px #fff dashed;
    /*border-bottom: 1px #3D3D3D dashed;*/
    font-size: 1.2em;
    /*clear: both;*/
    width: 90%;
    /*margin: 25px auto;*/
    text-align: center;
    color: #333;
    margin: 25px auto 20px auto;
}

.public #browsers div:first-child /*Title*/
{
    background-color: transparent;
    padding-top: 25px;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .3em;
}
.public #browsers #browsers-text /*Paragraph*/
{
    padding: 22px 6%;
    font-variant: normal;
    text-align: center;
    white-space: pre-line;
}

.public #browsers img
{
    position: relative;
    max-width: 8.5%;
    min-height: 30px;
    padding: 0px 3%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(80%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

}

.public #browsers img:hover,
.public #browsers img:focus
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
/*END ----------------Login container--------------- */

.public #top-bar
{
    margin: 0;
    padding: 20px;

    height: 80px;
    border: solid 1px transparent;

    background-color: #3d3d3d;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}

.public #top-bar #logo
{
    height: 100%;
}

.public #top-bar #login-container-secondary
{
    position: absolute;
    top: 0;
    right: 0;
    height: 126px;
    overflow: hidden;
}
.public #top-bar .login-button
{
    position: relative;
    right: -177px;
    display: block;
    width: 210px;
    margin: 3px 0;
}
.public #top-bar .login-button:hover, 
.public #top-bar .login-button:focus
{
    right: 0;
    width: 215px;
    z-index:900;
}

.public #button-twit-gift {
    top: 40% !important;
    right: 0px;
    width: 26px !important;
    z-index: 140;
}
.public #button-twit-gift:hover {
    width: 30px !important;
    z-index: 140;
}

.public #wrapper {
    max-width: 1920px;
    min-height: 100%;
    margin: 20px;
    z-index: 5;
}
/* Bottom*/
.public #bottom-container #social-media-icons-container li
{
    display: inline-block;  
}
.public #bottom-container 
{
    clear: both;
    /*position: relative;*/
    margin: 20px;
    /*margin: 20px auto 20px auto;*/
    /*    width: 80%;*/
    min-width: 380px;

    padding: 10px 5%;
    text-align: center;
    background-color: #3d3d3d;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
}
/*Social media icons*/
.public #bottom-container-secondary #social-media-icons-container {
    margin: 5px auto;
    vertical-align: middle;
} 
.public .social-media-icon {
    width: 40px;
    padding: 7px;
}
.public .social-media-icon:hover {
}
.public .bottom-text-container {
    font-size: .87em; 
    margin: 0 auto 10px auto;
    line-height: 1.8em;
}
.public .bottom-text-container li
{
    display: block;  
    margin: 0;
}
.public .bottom-text-container a:hover {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;   
         transition: all 0.2s ease-in-out;
}

/*
.public #bottom-container-secondary
{
    position:fixed;
    bottom: -82px;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: #3d3d3d;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    border-top: 6px solid #fff;
}
.public #bottom-container-secondary:hover
{
    bottom: 0;
}*/
.public #bottom-container-secondary #social-media-icons-container
{
    position: fixed;
    left: 0;
    top: 126px;
    width: auto;
    padding: 3px;
    /*background-color: #0A98BF;*/
    z-index: 910;
}
.public #bottom-container-secondary .social-media-icon
{
    display: block;
    width: 20px;
    padding: 4px;
}
.public #bottom-container-secondary .social-media-icon:hover
{
    display: block;
    width: 34px;
    padding: 0px;
}
.public #bottom-container-secondary a:focus
{
    outline: dashed 1px #0A98BF;
}

/*••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 
/*                      PRIVATE                       */
/*••••••••••••••••••••••••••••••••••••••••••••••••••••*/ 

.private #color-mask
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: auto;
    background: rgb(195,233,240);
    background: -moz-linear-gradient(top,  rgba(195,233,240,0.94) 0%, rgba(196,233,240,0.94) 1%, rgba(255,255,255,0.94) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,233,240,0.94)), color-stop(1%,rgba(196,233,240,0.94)), color-stop(100%,rgba(255,255,255,0.94))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(195,233,240,0.94) 0%,rgba(196,233,240,0.94) 1%,rgba(255,255,255,0.94) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(195,233,240,0.94) 0%,rgba(196,233,240,0.94) 1%,rgba(255,255,255,0.94) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(195,233,240,0.94) 0%,rgba(196,233,240,0.94) 1%,rgba(255,255,255,0.94) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(195,233,240,0.94) 0%,rgba(196,233,240,0.94) 1%,rgba(255,255,255,0.94) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c3e9f0', endColorstr='#f0ffffff',GradientType=0 ); /* IE6-8 */
}