/*1024px*/
@media all {

}
/*854px*/
@media all and (max-width: 854px) {

    #top-container {position: relative;}
    .public #wrapper { margin-top: 25px;}
    .public #login-container {position: absolute;}
    #bottom-container {
        position: relative;
        bottom: 0%;
        right: 0%;

        width: 100%;
        height: 40px;
    }
    #bottom-text-container {
        position: absolute;
    }
}
/*768px*/
@media all and (max-width: 768px) {

}

/*580px*/
@media all and (max-width: 580px) {
    div{
        clear: both;
        display: block !important;	 /* Cuando el ancho sea inferior a 600px, el elemento será un bloque */
        width: 100% !important;
        max-width: 100% !important;
        margin: auto !important;
        position: static !important;
        float: none !important;
        border: 0 !important;
        padding: 0 !important;
    }
    #button-twit-gift {position: absolute;}
    h1, h2, h3, h4, h5, h6, p {
        padding-left: 15px !important;
        padding-right: 15px !important;
        text-align: center;
    }

    #bottom-container {
        bottom: 0;
        width: 100%;
        height: 100px;
    }
    #bottom-line {
        position: relative !important;
        top: 2px !important;
        width: 100%;
        height: 1px;
    }
    #bottom-social-media-icons-container {
        position: relative !important;
        width: 25% !important;
        height: 50px !important;
        opacity: 1 !important;
    }
    #bottom-text-container {
        position: relative !important;
        padding-top: 20px  !important;
        margin: auto !important;
        width: 100% !important;
        height: 12px !important;
        padding-bottom: 0px  !important;
        text-align: center !important;
        visibility: visible;
    }


    .public #login-container {
        /*display: table-row !important;*/
        position: relative !important;
        top:0%;
        right: 0%;
        height: 170px;
    }
    .public .login-google, .public .login-facebook, .public .login-mail {
        position: absolute !important;
        left: 0px;
        padding-right: 60.5%;
        padding-left: 9.5%;
        background: #fff; 
        /*Fondo blanco */
        height: 30%;
        width: 30%;
        height: auto !important;
    }       
    .login-google {
        top: 8.5%;
    }
    .login-facebook {
        top: 39%;
    }
    .login-mail {
        top: 69.5%;
    }
    #main-container { 
        font-size: 9pt;
    }

}

/*480px*/
@media all and (max-width: 480px) {
}


/*370px*/
@media all and (max-width: 380px) {
    #button-twit-gift {visibility: hidden;}
    #top-container { 
        width:100% !important;
        height: 150px !important;
    }
    #top-line-public {
        top: 148px  !important;
        height: 1px  !important;
    }
    #top-logo {
        top: 15px !important;
        /*        left: 10px !important;*/

        width: 337px !important;
        height: 118px  !important;
    }
}

/*320px*/
@media all and (max-width: 355px) {
    #top-container { 
        width:100% !important;
        height: 60px !important;
    }
    #top-line-public {
        top: 58px  !important;
        height: 1px  !important;
    }
    #top-logo {
        top: 10px !important;
        left: 10px !important;

        width: 110px !important;
        height: 39px  !important;
    }


    #login-container {
        position: relative !important;
        width:100%;
        height: 100px !important;
    }
    .login-google, .login-facebook, .login-mail {
        /*position: absolute !important;*/
        /*left: 0px;*/
        /*padding-right: 10px;*/
        /*padding-left: 49px;*/
        /*background: #fff;*/
        /*width: 200px;*/
        /*height: auto;*/
    } 
    #login-container img{
        width: 122px !important;
        height: 25px !important;
    }
    .login-button:hover {
        height: 24%;
    }
}

/*240px*/
@media all and (max-width: 240px) {

}